<% if is_edit %>
  <% action = drop_url(drop) %>
  <% button_text = "Update Drop" %>
<% else %>
  <% action = drops_url %>
  <% button_text = "Create Drop" %>
<% end %>

<form action="<%= action %>" method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 

  <% if is_edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  <label>Body:
    <input 
      type="text" 
      name="drop[body]" 
      value="<%= drop.body %>">
  </label>
  
  <input type="submit" value="<%= button_text %>">

</form>
