<h1>Create A Drop</h1>
<%= render "form", is_edit: false, drop: @drop %>

<!-- <form action="<%= drops_url %>" method="POST">
  <label>Body:
    <input 
      type="text" 
      name="drop[body]" 
      value="<%= @drop.body %>">
  </label>
  <label for="author_id">author_id</label>
  <input 
    type="text" 
    name="drop[author_id]" 
    id="author_id" 
    value="<%= @drop.author_id %>"
  >
  <input type="submit" value="Create Drop">
</form> -->