<div class="sign-up-container">
  <h1>Sign Up</h1>
  <form class="sign-up-form" action="<%= users_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="username">Username:</label>
    <input 
      type="text" 
      name="user[username]"
      id="username"
      placeholder="Username">

    <label for="password">Password: </label>
    <input 
      type="password" 
      name="user[password]" 
      id="password"
      placeholder="Password"
    >
    <div class="btn-wrap">
      <input type="submit" value="Sign Up">
    </div>
    <p>Already have an account? <a href="<%= new_session_url %>">Sign in</a></p>
  </form>
</div>